* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#root {
  background-color: #242424;
  padding: 10px;
  height: 100vh;
  display: flex;
  gap: 10px;
}
#root main {
  width: 90%;
}