.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #242424;
    padding: 15px;
}
.modal .modal-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal .modal-title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
}
.modal form .modal-input {
    height: 40px;
    padding: 10px;
    background-color: #2a2a2a;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}
.modal .modal-create {
    grid-column: span 2;
    height: 40px;
    background-color: #2a2a2a;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.modal .modal-create:hover {
    border: 1px solid white;
}
.modal .modal-create:active {
    transform: scale(0.70);
}

.modal .close-btn {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
}